h1,h2,h3 {
    margin: 0;
}

li {
    list-style-type: none;
}

#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    text-align: center;
    color: #422057;
    background-color: #F4FF4C;
}

.selected {
    font-weight: bold;
}

#nav {
    float: left;
    width: 180px;
    padding-left: 10px;
}

#home-page {
    float: right;
    width: 600px;
}

#footer {
    clear: both;
    background-color: #008080;
    text-align: right;
    padding: 5px 10px 5px 0;
}